:root {
    --accent-color: #a187ab;
}

.gallery {
    padding-top: 120px;
}

.prev,
.next {
    position: fixed;
    top: 0;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 999;
    color: rgba(255, 255, 255, 0.5);
    font-size: 4rem;
    font-size: clamp(2rem, 15vw, 4.5rem);
    font-family: monospace;
    transition: all 0.2s;
    cursor: pointer;
}

.prev:hover,
.next:hover {
    color: rgba(255, 255, 255, 0.8);
}

.prev {
    left: -25%;
}

.next {
    right: -25%;
}

.active .prev {
    left: 0;
}

.active .next {
    right: 0;
}

.gallery__imgs-wrapper {
    column-width: 300px;
    column-gap: 5px;
    overflow: visible;
}

.gallery__img-wrapper {
    margin-bottom: 0.1em;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0;
}

.gallery__img-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s;
}

.gallery__img-wrapper.show::before {
    content: "";
    display: block;
    position: fixed;
    z-index: 555;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.gallery__img-wrapper.show img {
    position: fixed;
    top: 0;
    left: 0;
    margin: 30px;
    align-self: center;
    object-fit: contain;
    z-index: 666;
    max-width: calc(100% - 60px);
    height: calc(100% - 60px);
    cursor: grab;
    /* custom cursor to signal close on click */
    filter: drop-shadow(0 3px 15px black);
    -webkit-filter: drop-shadow(0 3px 15px black);
}

.gallery__img-wrapper:not(.show):hover img {
    cursor: pointer;
    transform: scale(1.3);
}

.active .gallery__img-wrapper:not(.show) img {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}



/* TYPOGRAPHY */
@media (min-width: 425px) {
    html {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 0.95em;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 0.98em;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 1.1em;
    }
}