/* 
	TODO: fix responsive view on small devices
*/

.prev,
.next {
  position: fixed;
  top: 0;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 999;
  color: rgba(255, 255, 255, 0.5);
  font-size: 4rem;
  font-size: clamp(2rem, 15vw, 4.5rem);
  font-family: monospace;
  transition: all 0.2s;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  color: rgba(255, 255, 255, 0.8);
}

.prev {
  left: -25%;
}
.next {
  right: -25%;
}

.active .prev {
  left: 0;
}
.active .next {
  right: 0;
}

.gallery-container {
  margin: 10vh auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
}

.img-container {
  text-align: center;
  padding: 1rem 0;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s;
}

.img-container.show::before {
  content: "";
  display: block;
  position: fixed;
  z-index: 555;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.img-container.show img {
  position: fixed;
  top: 0;
  left: 0;
  margin: 30px;
  align-self: center;
  object-fit: contain;
  z-index: 666;
  max-width: calc(100% - 60px);
  height: calc(100% - 60px);
  filter: drop-shadow(0 3px 15px black);
  cursor: url("/images/Icons/close-icon-red.svg"), grab; /* custom cursor to signal close on click */
}

.img-container:not(.show):hover img {
  cursor: pointer;
  transform: scale(1.3);
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.active .img-container:not(.show) img {
  filter: blur(3px);
}

/* TYPOGRAPHY */
@media (min-width: 425px) {
  html {
    font-size: 0.9em;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 0.95em;
  }
  .gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 0.98em;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 1.1em;
  }
}
